<section class="advantages section">
  <div class="container container-advantages">
    <h2 class="advantages-title">advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <h2 class="advantages-list-title">01</h2>
        <div class="adventages-line"></div>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-list-title">02</h2>
        <div class="adventages-line"></div>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-list-title">03</h2>
        <div class="adventages-line"></div>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-list-title">04</h2>
        <div class="adventages-line"></div>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <div class="advantages-foto">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/advantages-desk-1x.jpg 1x,
            /img/advantages-desk-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/advantages-tab-1x.jpg 1x, /img/advantages-tab-2x.jpg 2x"
        />
        <source
          media="(min-width: 375px)"
          srcset="/img/advantages-mob-1x.jpg 1x, /img/advantages-mob-2x.jpg 2x"
        />
        <img
          src="/img/advantages-mob-1x.jpg"
          alt="room on a yacht"
          width="335"
          height="424"
          class="advantages-image"
        />
      </picture>
    </div>
  </div>
</section>
