<!-- <header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
</header> -->

<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a class="logo" href="./index.html"
        >yachtjet</a>
      <ul class="nav-list">
        <li><a class="nav-link current" href="">About</a></li>
        <li><a class="nav-link" href="">Yachts</a></li>
        <li><a class="nav-link" href="">Reviews</a></li>
      </ul>

    </nav>
    <button class="menu-open-button">
      <svg width="28" height="28">
        <use href="./images/icons.svg#icon-heroicons-solid_menu-2"></use>
      </svg>
    </button>
    </div>

    </header>
