<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a class="header-logo" href="/">yachtjet</a>
      <ul class="nav-list">
        <li><a class="header-btn" href="#about-us">About</a></li>
        <li><a class="header-btn" href="#our-yachts">Yachts</a></li>
        <li><a class="header-btn" href="#reviews">Reviews</a></li>
      </ul>
      <div class="header-social-link">
        <ul class="header-list">
          <li>
            <a class="header-link" href="https://www.instagram.com/goitclub">
              <svg class="header-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="header-link" href="https://www.youtube.com/c/GoIT">
              <svg class="header-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="header-link" href="https://www.facebook.com/goITclub">
              <svg class="header-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button id="openModal" class="menu-open-button">
        <svg class="menu-icon" width="28" height="28">
          <use href="/img/symbol-defs-header.svg#icon-open-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
