<section class="hero">
  <div class="container">
    <h1 class="page-title">
      <span>Explore the High</span> <span>Seas with Our Luxury</span>
      <span>Yacht Rentals</span>
    </h1>
    <p class="hero-text">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>

    <a href="#rent" class="hero-btn">Yacht rental</a>
  </div>
</section>
