<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>JachtJet</title>
    <link rel="stylesheet" href="../css/menu.css" />
  </head>
  <div class="modal-header">
    <div class="modal-first-div">
      <div class="modal-input">
        <div class="modal-input-icon">
          <div class="logo">yachtjet</div>
          <button id="closeModal" class="btn-close is-close">
            <svg class="modal-icon" width="18" height="24">
              <use href="./images/icons.svg#icon-ion_close-sharp"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="btn-menu-all">
        <ul class="btn-ul">
          <li class="btn-ul-li">
            <a class="btn-ul-li-a" href="">
              <button class="btn-menu">
                <h3 class="btn-name">About</h3>
              </button>
            </a>
          </li>

          <li class="btn-ul-li">
            <a class="btn-ul-li-a" href="">
              <button class="btn-menu">
                <h3 class="btn-name">Yachts</h3>
              </button>
            </a>
          </li>
          <li class="btn-ul-li">
            <a class="btn-ul-li-a" href="">
              <button class="btn-menu">
                <h3 class="btn-name">Reviews</h3>
              </button>
            </a>
          </li>
        </ul>
      </div>

      <div class="icon-menu">
        <ul class="icon-menu-ul">
          <li class="icon-menu-ul-li">
            <a class="icon-menu-ul-li-a">
              <svg
                width="24px"
                height="24px"
                class="icon-menu-ul-li-svg instogram"
              >
                <use
                  href="../img/project/symbol-defs.svg#icon-ph_instagram-logo-fill"
                ></use>
              </svg>
            </a>
          </li>
          <li class="icon-menu-ul-li">
            <a class="icon-menu-ul-li-a">
              <svg
                width="24px"
                height="24px"
                class="icon-menu-ul-li-svg youtube"
              >
                <use
                  href="../img/project/symbol-defs.svg#icon-entypo-social_youtube-with-circle"
                ></use>
              </svg>
            </a>
          </li>
          <li class="icon-menu-ul-li">
            <a class="icon-menu-ul-li-a">
              <svg
                width="24px"
                height="24px"
                class="icon-menu-ul-li-svg facebook"
              >
                <use
                  href="../img/project/symbol-defs.svg#icon-ic_outline-facebook"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</html>
