 <div id="mobile-menu"  class="modal-header js-menu-container">
      
        <ul class="btn-ul">
          <li class="btn-ul-li">
            <a class="btn-ul-li-a" href="#about-us">About</a>
          </li>

          <li class="btn-ul-li">
            <a class="btn-ul-li-a" href="#our-yachts">Yachts</a>
          </li>
          <li class="btn-ul-li">
            <a class="btn-ul-li-a" href="#reviews">Reviews</a>
          </li>
        </ul>

      
        <ul class="icon-menu-ul">
          <li class="icon-menu-ul-li">
            <a class="icon-menu-ul-li-a" href="https://www.instagram.com/goitclub">
              <svg
                width="24px"
                height="24px"
                class="icon-menu-ul-li-svg instogram"
              >
                <use
                href="/img/icons.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="icon-menu-ul-li">
            <a class="icon-menu-ul-li-a" href="https://www.youtube.com/c/GoIT">
              <svg
                width="24px"
                height="24px"
                class="icon-menu-ul-li-svg youtube"
              >
                <use
                  href="/img/icons.svg#icon-youtube"
                ></use>
              </svg>
            </a>
          </li>
          <li class="icon-menu-ul-li">
            <a class="icon-menu-ul-li-a" href="https://www.facebook.com/goITclub">
              <svg
                width="24px"
                height="24px"
                class="icon-menu-ul-li-svg facebook"
              >
                <use
                  href="/img/icons.svg#icon-facebook"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      
    
  </div>
  <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
  <script src="script.js"></script>
</html>
