<section id="our-yachts">
    <div class="container">
        <h2 class="title yacht-title">Choose your dream yacht and sail away into the sunset</h2>
        <div>
            <ul class="yachts-list">
                <li class="yacht-item">
                    <picture>
                        <source
                            srcset="./img/our-yachts/card1-desk-1x.jpg 1x, ./img/our-yachts/card1-desk-2x.jpg 2x"
                            media="(min-width:1158px)"
                        />
                        <source
                            srcset="./img/our-yachts/card1-tab-1x.jpg 1x, ./img/our-yachts/card1-tab-2x.jpg 2x"
                            media="(min-width:768px)"
                        />
                        <source
                            srcset="./img/our-yachts/card1-mob-1x.jpg 1x, ./img/our-yachts/card1-mob-2x.jpg 2x"
                            media="(max-width:767px)"
                        />
                        <img class="yacht-img"
                            src="./img/our-yachts/card1-mob-1x.jpg"
                            alt="Arrow luxury yacht"
                            width="302"
                            height="240"
                        />
                    </picture>
                    <div class="yacht-desc">
                        <div class="first-row">
                            <h3 class="yacht-name">Arrow</h3>
                            <p class="yacht-class">LUXURY YAHTS</p>
                        </div>
                        <table class="yacht-table">
                            <tr class="yacht-row">
                                <td class="yacht-char">LENGTH</td>
                                <td class="yacht-value">48m(155ft)</td>
                            </tr>
                            <tr class="yacht-row">
                                <td class="yacht-char">BUILDER</td>
                                <td class="yacht-value">Admiral</td>
                            </tr>
                            <tr class="yacht-row">
                                <td class="yacht-char">BUILT</td>
                                <td class="yacht-value">2021</td>
                            </tr>
                            <tr class="yacht-row">
                                <td class="yacht-char">GUESTS</td>
                                <td class="yacht-value">11 in 5 cabins</td>
                            </tr>
                            <tr class="yacht-row">
                                <td class="yacht-char">PRICE</td>
                                <td class="yacht-value">€33,500,000</td>
                            </tr>
                        </table>
                    </div>
                    </li>
                    <li class="yacht-item">
                        <picture>
                            <source
                                srcset="./img/our-yachts/card2-desk-1x.jpg 1x, ./img/our-yachts/card2-desk-2x.jpg 2x"
                                media="(min-width:1158px)"
                            />
                            <source
                                srcset="./img/our-yachts/card2-tab-1x.jpg 1x, ./img/our-yachts/card2-tab-2x.jpg 2x"
                                media="(min-width:768px)"
                            />
                            <source
                                srcset="./img/our-yachts/card2-mob-1x.jpg 1x, ./img/our-yachts/card2-mob-2x.jpg 2x"
                                media="(max-width:767px)"
                            />
                            <img class="yacht-img"
                                src="./img/our-yachts/card2-mob-1x.jpg"
                                alt="Benetti Oasis 40M BO122 luxury yacht"
                                width="302"
                                height="240"
                            />
                        </picture>
                        <div class="table-container">
                            <div class="first-row">
                                    <h3 class="yacht-name">BENETTI OASIS 40 <span class="yacht-long-name">M B</span></h3>
                                    <p class="yacht-class">LUXURY YAHTS</p>
                            </div>
                            <table class="yacht-table">                      
                                <tr class="yacht-row">
                                    <td class="yacht-char">LENGTH</td>
                                    <td class="yacht-value">41m (133ft)</td>
                                </tr>
                                <tr class="yacht-row">
                                    <td class="yacht-char">BUILDER</td>
                                    <td class="yacht-value">Benetti</td>
                                </tr>
                                <tr class="yacht-row">
                                    <td class="yacht-char">BUILT</td>
                                    <td class="yacht-value">2025</td>
                                </tr>
                                <tr class="yacht-row">
                                    <td class="yacht-char">GUESTS</td>
                                    <td class="yacht-value">10 in 5 cabins</td>
                                </tr>
                                <tr class="yacht-row">
                                    <td class="yacht-char">PRICE</td>
                                    <td class="yacht-value">€23,210,000</td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    <li class="yacht-item">
                        <picture>
                            <source
                                srcset="./img/our-yachts/card3-desk-1x.jpg 1x, ./img/our-yachts/card3-desk-2x.jpg 2x"
                                media="(min-width:1158px)"
                            />
                            <source
                                srcset="./img/our-yachts/card3-tab-1x.jpg 1x, ./img/our-yachts/card3-tab-2x.jpg 2x"
                                media="(min-width:768px)"
                            />
                            <source
                                srcset="./img/our-yachts/card3-mob-1x.jpg 1x, ./img/our-yachts/card3-mob-2x.jpg 2x"
                                media="(max-width:767px)"
                            />
                            <img class="yacht-img"
                                src="./img/our-yachts/card3-mob-1x.jpg"
                                alt="Belle Anna luxury yacht"
                                width="302"
                                height="240"
                            />
                        </picture>
                        <div class="first-row">
                            <h3 class="yacht-name">BELLE ANNA</h3>
                            <p class="yacht-class">LUXURY YAHTS</p>
                        </div>
                        <table class="yacht-table">
                            <tr class="yacht-row">
                                <td class="yacht-char">LENGTH</td>
                                <td class="yacht-value">50m(155ft)</td>
                        </tr>
                        <tr class="yacht-row">
                            <td class="yacht-char">BUILDER</td>
                            <td class="yacht-value">ISA</td>
                        </tr>
                        <tr class="yacht-row">
                            <td class="yacht-char">BUILT</td>
                            <td class="yacht-value">2012</td>
                        </tr>
                        <tr class="yacht-row">
                            <td class="yacht-char">GUESTS</td>
                            <td class="yacht-value">12 in 6 cabins</td>
                        </tr>
                        <tr class="yacht-row">
                            <td class="yacht-char">PRICE</td>
                            <td class="yacht-value">€21,000,000</td>
                        </tr>
                    </table>
                </li>    
            </ul>
        </div>
        <a class="yacht-link link" href="#rent">Yacht rental</a>
        
    </div>
</section>