<!--RENT A YACHT-->
<section class="rent-a-yacht section">
	<div class="full-content-rent container">
		<div class="container-rent-content">
			<div class="container-rent">
				<h3 class="title-rent">
					Rent a yacht now
				</h3>
			</div>
			<form class="rent-section" id="rent">
				<div class="rent-form">
						<label for="user-name" class="rent-label"></label>
					<input type="text" name="user-name" class="rent-input" required id="user-name" placeholder="Full Name"/>
				</div>
				
						<label for="user-email" class="rent-label"></label>
					<input type="email" name="user-email" class="rent-input" required id="user-email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" /> 	
	
				
						<label for="phone" class="rent-label"></label>
					<input type="tel" name="phone" class="rent-input" id="phone"
					 required pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$" title="+38-067-123-45-67" 
					 placeholder="Phone number" />

						<label for="user-comment" class="rent-label"></label>
				 <textarea type="submit" name="user-comment" id="user-comment" class="rent-textarea" placeholder="Comment"></textarea>
		
	<div class="button-rent">
	<button type="submit" class="send-btn">Send</button>
	  </div>
	  </div>
	</form>
	<div class="images-rent"> 
		<picture class="picture-rent"> 
		 <source srcset="/img/rent-a-yacht/rent-desk-1x.jpg 1x, /img/rent-a-yacht/rent-desk-2x.jpg 2x"
			media="(min-width:1280px)" > 
		 <source srcset="/img/rent-a-yacht/rent-tab-1x.jpg 1x, /img/rent-a-yacht/rent-tab-2x.jpg 2x" 
		 media="(min-width:768px)" > 
		 <source srcset="/img/rent-a-yacht/rent-mob-1x.jpg 1x, /img/rent-a-yacht/rent-mob-2x.jpg 2x"
			media="(max-width:767px)" > 
		 <img class="img-rent" src="/img/rent-a-yacht/rent-desk-1x.jpg" alt="Rent a yacht" width="335" > 
		</picture> 
		</div>
	  </div>
		</div>
	</div>
</section>
