<section class="rent-a-yacht section" id="rent">
  <div class="container rent-container">
    <div class="rent-form-wrap">
      <h2 class="rent-title">Rent a yacht now</h2>

      <form class="rent-form">
        <input
          type="text"
          name="user-name"
          class="rent-input"
          required
          placeholder="Full Name"
        />
        <input
          type="email"
          name="user-email"
          id="user-email"
          class="rent-input"
          required
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          placeholder="Email"
        />
        <input
          type="tel"
          name="user-tel"
          id="user-tel"
          class="rent-input"
          required
          pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          placeholder="Phone number"
        />
        <textarea
          name="user-comment"
          id="user-comment"
          class="rent-comment"
          placeholder="Comment"
        ></textarea>
        <button type="submit" class="yacht-rental-btn">Send</button>
      </form>
    </div>

    <picture class="picture-rent">
      <source
        srcset="
          /img/rent-a-yacht/rent-desk-1x.jpg 1x,
          /img/rent-a-yacht/rent-desk-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-tab-1x.jpg 1x,
          /img/rent-a-yacht/rent-tab-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-mob-1x.jpg 1x,
          /img/rent-a-yacht/rent-mob-2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        class="img-rent"
        src="/img/rent-a-yacht/rent-desk-1x.jpg"
        alt="Rent a yacht"
        width="335"
      />
    </picture>
  </div>
</section>
