.subscribe{
    margin: 0 auto;
    margin-top: -35px;
    min-width: 320px;
    height: 877px;
    background-color: #0e1823;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}
.about-us{
    width: 100%;
    height: 675px;
    padding-top: 40px;
    background-color:#fbfbfb;
    color:#FFF;
    border-radius: 24px;
}
.picture-about{
    width: 100%;
    object-fit: contain;
    border-radius: 24px;
}
.img-about{
    width: 100%;
    border-radius: 24px 24px 0 0;
}
.subscribe-title{
    width: 270px;
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.0;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 20px;
}
.subscribe-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 20px;
}
.text-top{
    margin-bottom: 20px;
    width: 270px;
}
.subscribe-text-top{
    display: inline;
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.0%;
    letter-spacing: -0.02em;
    color: #1b414b;
    width: 270px;
}
.text-bottom{
    width: 270px;
}
.subscribe-text-bottom{
    display: inline;
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17%;
    letter-spacing: -0.02em;
    color: #040306;
    width: 270px;
}
@media  screen and (min-width:768px){
    .subscribe{
        height: 1065px;
        padding-top: 0px;
        padding-right: 32px;
        padding-left: 32px;
    }
    .subscribe-title{
        width: 536px;
        font-size: 48px;
        margin-bottom: 50px;
    }
    .about-us{
        padding-top: 50px;
        padding-bottom: 0px;
        height: 740px;
    }
   
.subscribe-title{
    font-size: 48px;
}
.subscribe-text{
    margin-bottom: 50px;
    
}
.text-top{
    width: 350px;
}
.subscribe-text-top{
    font-size: 23px;
}
.text-bottom{
    width: 365px;
}
.subscribe-text-bottom{
    font-size: 13px;
    line-height: 1.15%;
}
}
@media  screen and (min-width:1280px){
    .subscribe-text{
        margin-bottom: 50px;
    }
.subscribe{
    padding-left: 50px;
    padding-right: 50px;
    height: 1295px;
    padding-bottom: 0px;
    margin-bottom: 805px;
}
.subscribe-title{
    margin: 0px;
    margin-left: 30px;
   width: 537px;
}
.about-us{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.subscribe-text{
    margin-left: 0px;
    margin-right: 30px;
    margin: 0px;
}
.text-top{
width: 350px;
}
.text-bottom{
   width: 365px;
   margin-bottom: 50px;
}
}
