:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #0e1823;
}

html {

  scroll-behavior: smooth;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 375px;
  margin: 0 auto;
}

.section {
  padding-top: 80px;
}

.header-btn {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  background-color: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  padding: 15px 25px 15px 24px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #1b414b;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.3);
  padding: 15px 25px 15px 24px;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-yachts-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 14px 32px;
}

.send-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 14px 44px;
  border-radius: 15px;
  background-color: #1b414b;
}

.yacht-rental-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 14px 32px;
  border-radius: 15px;
  background-color: #1b414b;
}

.our-yachts-btn:hover,
.our-yachts-btn:focus,
.send-btn:hover,
.send-btn:focus,
.yacht-rental-btn:hover,
.yacht-rental-btn:focus {
  color: #1b414b;
  background-color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 150px;
  }

  .our-yachts-btn,
  .yachts-rental-btn {
    padding: 16px 40px;
  }

  .send-btn {
    padding: 18px 72px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
