.footer-section {
  padding: 0 10px;
}

.footer-container {
  border-radius: 24px 24px 0 0;
  background-color: #1b414b;
  padding: 40px 30px 20px;
  max-width: 355px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  gap: 37px;
}

.footer-logo {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}

.footer-menu-list {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.footer-menu-item {
  width: calc((100% - 8px) / 3);
  border-radius: 8px;
  width: 66px;
  height: 40px;
  background-color: rgba(251, 251, 251, 0.3);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-btn {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-item:hover {
  background-color: #fbfbfb;
}

.footer-menu-item:hover .footer-menu-btn {
  color: #1b414b;
}

.footer-social-link {
  max-width: 88px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer-list {
  display: flex;
  gap: 8px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.footer-icon {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-content-box {
  max-width: 279px;
  margin: 0 auto;
  margin-bottom: 82px;
  display: flex;
  justify-content: center;
}

.footer-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  width: 98%;
}

.footer-aside {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-text,
.footer-privacy-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding: 0 16px;
  }

  .footer-container {
    padding: 50px 48px 20px;
    max-width: 736px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-menu {
    margin: 0;
    gap: 110px;
  }

  .footer-menu-list {
    flex-wrap: nowrap;
  }

  .footer-menu-item {
    width: 91px;
  }

  .footer-social-link {
    margin: 0;
  }

  .footer-inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 96px;
    gap: 91px;
  }

  .footer-content-box {
    max-width: 640px;
    margin-bottom: 99px;
  }

  .footer-content {
    font-size: 32px;
    width: 95%;
  }

  .footer-aside {
    gap: 32px;
  }

  .footer-text,
  .footer-privacy-policy {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    padding: 0 25px;
  }

  .footer-container {
    padding: 50px 75px 20px;
    max-width: 1230px;
  }

  .footer-menu {
    gap: 330px;
  }

  .footer-inner {
    gap: 311px;
  }

  .footer-content-box {
    max-width: 693px;
  }
}
