.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.navigation {
  display: flex;
}

.header-social-link {
  max-width: 88px;
  margin-left: auto;
}
.header-list {
  display: flex;
  gap: 8px;
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.header-icon {
  fill: #1b414b;
}

.header-icon:hover {
  fill: #062730;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
