.header {
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 9999;
  
}

.header.is-open {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container {
  background: #fbfbfb;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-list {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.navigation {
  display: flex;
}

.header-social-link {
  display: none;
  max-width: 88px;
}
.header-list {
  display: flex;
  gap: 8px;
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.header-icon {
  fill: #1b414b;
}

.header-icon:hover {
  fill: #062730;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding-top: 12px;
  padding-bottom: 12px;
}
.menu-icon {
  stroke-width: 2.5px;
  stroke: #1b414b;
}
.menu-open-button {
  background-color: transparent;
  margin-left: auto;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .header-social-link {
    display: block;
    max-width: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .menu-open-button {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0 auto;
  }
  .header-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
  }
  .header-container {
    
    padding-left: 28px;
    padding-right: 28px;
    position: relative;
  }
  .header {
  
    padding: 32px;

  }
}

@media screen and (min-width: 1280px) {
  .header-social-link {
    display: block;
    max-width: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .menu-open-button {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
  }
  .header-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
  }
  .header-container {
    
    padding-left: 30px;
    padding-right: 30px;
  }
  .header {

    padding-right: 100px;
    padding-left: 100px;
    padding-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header-social-link {
    display: block;
    max-width: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .menu-open-button {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
  }
  .header-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
  }
  .header-container {
    
    padding-left: 30px;
    padding-right: 30px;
  }
  .header {

    padding-right: 100px;
    padding-left: 100px;
    padding-top: 32px;
  }
}
