/* HERO */

.hero {
  padding: 260px 0 302px 0;
  max-width: 100%;

  background-image: linear-gradient(
      360deg,
      rgba(17, 19, 31, 1) 15.05%,
      rgba(17, 19, 31, 0.39) 75.3%,
      rgba(17, 19, 31, 0) 98.27%
    ),
    url(/img/hero/hero-img-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 1) 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/hero-img-mob-2x.jpg);
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 24px;
  /* margin: 0 auto 24px auto; */
}

.hero-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
  max-width: 335px;
}

.hero-btn {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-align: center;

  background-color: #1b414b;
  padding: 14px 32px;
  min-width: 141px;
  height: 46px;
  border: none;
  border-radius: 15px;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  color: #1b414b;
  background-color: #fbfbfb;
}

/* hero for tablet */

@media screen and (min-width: 768px) {
  .hero {
    padding: 280px 0 282px 0;
    /* max-width: 768px; */
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 1) 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/hero-img-tab-1x.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          360deg,
          rgba(17, 19, 31, 1) 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(/img/hero/hero-img-tab-2x.jpg);
    }
  }

  .page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    max-width: 704px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 48px;
    min-width: 597px;
  }

  .hero-btn {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;

    padding: 16px 40px;
    min-width: 179px;
    height: 52px;
  }
}

/* hero for tablet */

/* hero for desktop */
@media screen and (min-width: 1280px) {
  .hero {
    padding: 235px 0 215px 0;
    /* max-width: 1280px; */
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 1) 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/hero-img-desk-1x.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          360deg,
          rgba(17, 19, 31, 1) 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(/img/hero/hero-img-desk-2x.jpg);
    }
  }

  .page-title {
    display: block;
    font-size: 80px;
    max-width: 1001px;
  }
}
/* hero for desktop */
/* HERO */
