a,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.modal-header {
  position: relative;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-first-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0e1823;
  width: 375px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 16px;
  padding-bottom: 40px;
  border: 1px solid #000;
  height: 812px;
}
.modal-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 201px;
}
.modal-input-icon {
  position: absolute;
  top: 16px;
  left: 20px;
  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 335px;
  height: 42px;
  margin-bottom: 201px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 20px;
}
.logo {
  display: flex;
  align-items: center;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  flex-grow: 1;
  cursor: pointer;
  transform: translateY(-50);
  align-items: center;
}
.modal-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  float: right;
  text-align: right;

  width: 28px;
  height: 28px;
  background-image: url('../img/project/ion_close-sharp.svg');
  background-size: cover;

  cursor: pointer;
}

.btn-menu-all {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 259px;
  left: 142px;
  margin-bottom: 361px;
}
.btn-ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  padding: 0px;
}
.btn-menu {
  border-radius: 8px;
  border-color: transparent;
  width: 91px;
  height: 40px;
  background: rgba(27, 65, 75, 0.5);
  box-shadow: transparent;
  cursor: pointer;
}
.btn-ul-li-a {
}
.btn-name {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  cursor: pointer;
}

.icon-menu {
  position: absolute;

  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-menu-ul {
  display: flex;
  gap: 8px;
}

.icon-menu-ul-li-a {
  cursor: pointer;
}
.btn-close {
  border: transparent;
  background-color: transparent;
}
/* .instogram {
  width: 24px;
  height: 24px;
  background-image: url('../img/project/Vector-3.svg');
  background-size: cover;
} */
/* .youtube {
  width: 24px;
  height: 24px;
  background-image: url('../img/project/Vector-2.svg');
  background-size: cover;
} */
/* .facebook {
  width: 24px;
  height: 24px;
  background-image: url('../img/project/Vector.svg');
  background-size: cover;
} */
