/* -----REWIEWS---------*/
.reviews {
  padding: 80px, 20px;
}

.reviews-container {
}

.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  max-width: 335px;
  margin: 0px auto;
}

.reviews-text {
  display: flex;
  align-items: center;
  max-width: 335px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  margin: 25px auto 40px;
}

.reviews-list {
}

.reviews-item-john {
}

.reviews-item {
  padding: 32px 8px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background: #fbfbfb;
}

.reviews-image {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 72px;
  margin: 32px auto 0px auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.reviews-subtitle-reviews {
  margin-top: 80px;
}

.reviews-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;

  margin-bottom: 8px;
}

.reviews-review {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  max-width: 335px;
  margin: 0 auto;
}

.reviews-item-victoria {
  display: none;
}

.reviews-item-ihor {
  display: none;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding: 150px, 32px;
  }

  .reviews-title {
    font-size: 48px;
    max-width: 704px;
  }

  .reviews-text {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 75px;
    max-width: 704px;
  }

  .reviews-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .reviews-item {
  }

  .reviews-item-victoria {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
  }

  .reviews-text {
    max-width: 571px;
  }

  .reviews-list {
    gap: 26px;
  }

  .reviews-item {
    padding: 32px 28px;
  }

  .reviews-item-ihor {
    display: flex;
  }
}
